/* You can add global styles to this file, and also import other style files */

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

html, body {
  padding: 5px;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

.ag-root-wrapper-body.ag-layout-normal {
  height: auto;
}

.parent {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  display: flex;
  flex-grow: 1;
}

.content {
  flex-grow: 1;
}

.nav {
  width: 200px;
}

.child {
  display: flex;
  align-items: normal;
  justify-content: normal;
  margin: 1%;
  padding: 20px;
  font-size: 20px;
  line-height: 20px;
  border: 1px solid #f5cc8b;
}

.child2 {
  display: revert;
}

